

    <footer class="bg-primary text-center text-lg-start text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Coordinador</h5>
  
          
                <p href="#!" class="text-white">Guillermo Roldós</p>
             
                <p href="#!" class="text-white">groldos@fing.edu.uy</p>
            
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Encargado de Laboratorios y Webmaster</h5>
  
          
                <p href="#!" class="text-white">Eduardo Calandria</p>
            
                <p href="#!" class="text-white">ecalandria@fing.edu.uy</p>
             
           
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Auxiliar Administrativo</h5>
  
                <p href="#!" class="text-white">tecnoinf.sj.adm@gmail.com</p>
            
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sucursal</h5>
                <p href="#!" class="text-white">Teléfono: 434 22743</p>
            
                <p href="#!" class="text-white">Dirección: Batlle y Ordóñez 810 esq. Di Martino, San José de Mayo</p>
            
                <a target="_blank" class="text-white" href="https://goo.gl/maps/SQYhoF518Wrhudcp7">Ver mapa</a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022
        <a class="text-white" href="https://utec.edu.uy/es/">UTEC</a>
      </div>
      <!-- Copyright -->
    </footer>
  
