<app-spinner *ngIf="isLoading == true"></app-spinner>

<div class="container mt-3">
    <div class="header">
        <h1 class="me-2 mb-0">{{ unidad.nombre }} </h1>
        <h3><span class="badge rounded-pill bg-primary">SEMESTRE {{unidad.semestre}}</span></h3>
    </div>
  <h3>Materia: {{ unidad.materia.nombre }}</h3>
  <div class="d-flex">
    <a class="text-muted pdf me-2" (click)="openFullscreen(content, unidad.documento)" *ngIf="isLoading == false"> ->Doc PDF</a>  
  </div>
  <p>{{ unidad.descripcion }}</p>
  <p>Créditos: {{ unidad.creditos }}</p>

  <h3 class="previas" *ngIf="isLoading == false">Previas:</h3>
  <div class="previas-container">
      <a *ngFor="let p of unidad.previas" routerLink="/unidad/{{p.previa.id}}" target="_blank">
        <span class="badge bg-dark me-2" role="button">{{p.previa.nombre}}</span>
      </a>
  </div>
</div>


 <!--- Modal Ver PDF -->
 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Documento PDF</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <iframe type="application/pdf" [src]="sanitizePDF(pdf)" height="100%" width="100%"> </iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>