<body>
   
        <form class="registration-form">
            <div class="form-icon">
                <!-- imagen UTEC-->
                <img class="logo" src="../../../assets/logo_UTEC.png" alt="Logo UTEC">
               
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Contraseña">
            </div>
           
            <div class="form-group d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-block create-account">Iniciar Sesion</button>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-block create-account btn-invertido">Registrarse </button>
            </div>

        </form>
       
       
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

