<div class="container my-5">

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    
        <ngb-panel title="Primer Semestre">
          <ng-template ngbPanelContent>
        
            <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Materia</th>
              
                <th scope="col"> <div class="d-flex justify-content-end"> Acciones </div> </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    Principios de Programacion
                </td>
                <td>Programacion</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <div class="btn-group">
                            <button class="btn btn-success">Ver</button>
                            <button class="btn btn-primary">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                    

                </td>
            </tr>
            </tbody>
            </table>
          </ng-template>
        </ngb-panel>
    
        <ngb-panel title="Segundo Semestre">
            <ng-template ngbPanelContent>
            </ng-template>
        </ngb-panel>
    
        <ngb-panel title="Tercer Semestre">
            <ng-template ngbPanelContent>
            </ng-template>
        </ngb-panel>
    
        <ngb-panel title="Cuarto Semestre">
            <ng-template ngbPanelContent>
            </ng-template>
        </ngb-panel>
    
        <ngb-panel title="Quinto Semestre">
            <ng-template ngbPanelContent>
            </ng-template>
        </ngb-panel>
    
        <ngb-panel title="Sexto Semestre">
            <ng-template ngbPanelContent>
            </ng-template>
        </ngb-panel>

    </ngb-accordion>
</div>